.dark {
	background-color #282c34;
    color: #ccc7c7;
	.recent-post-item {
	background-color #282c34;
    color #a09c9c;
	}
	img {
	   filter: brightness(50%);
	}
	.valine {
		background: #2f3742!important;
	}
	#myBtn {
		background-color #282c34;
	}
	.highlight {
		background-color #282c34;
		color #a09c9c;
	}
	.post-copyright {
		background-color: #282c34;
	}
	.share-reward {
		background-color: #282c34;
	}
	a:link, a:visited {
		color: #ccc7c7;
    }
	.header .title {
        color: #ffffffa6;
	}
	code {
		background-color: #3b4250!important;
	}
	.note {
		filter: brightness(50%)
	}

}