.header {
	width: 700px;
    padding: 100px 0;
    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;


	.title{
		text-align: center;
		font-family: auto;
        text-decoration: none;
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 1;

        .logo {
            color: black;
            text-decoration: none;
        }
    }
}

.navbar{
    text-align: center;
    font-size: 20px;

	.menulist {
		list-style-type:none;
		padding-left: 0;
        text-align: center;
		.li {
			display:inline-block;
			margin: 0 10px;
		}
	}

     .menu-item {
      display: inline-block;
	  padding-right: 10px;
    }

}



/*animation starts*/

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/*animation ends*/


/* Menu样式 */
.menubutton {
	display: block;
	float: right;
    padding-top: 30px;
}

.dropbtn {
	display: inline-block;
	position: relative;
	padding: 0.7em 1.25em;
	outline: 0;
	color: rgba(0,0,0,0.44);
	background: rgba(0,0,0,0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.15);
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
	margin-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
	width: 120px;
}

.dropdown-content {
	display: none;
	position: absolute;
	overflow: auto;
	z-index: 1;

}

.dropdown-content a {
	display: inline-block;
	position: relative;
	padding: 0.7em 1.25em;
	outline: 0;
	color: rgba(0,0,0,0.44);
	background: rgba(0,0,0,0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.15);
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
	margin-top: 5px;

}

.dropdown-content a:hover {
	    border-color: #42b983;
        color: #42b983;
        text-decoration: none;

}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    	border-color: #42b983;
        color: #42b983;
        text-decoration: none;
}