.header {
	max-width:650px;
    padding: 120px 0 60px 0;
    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
	.title, .logo {
		text-align: center;
		font-family: $title_font;
		text-decoration: none;
		font-size: 5rem;
		font-weight: bold;
		letter-spacing: 5px;
		line-height: 1.5;
     	}
	.logo img{
		width: 120px;
		height: 120px;
		border-radius: 70px;
        transition: all .5s;
	}
	.logo img:hover{
        transform: rotate(360deg);
	}
}
.motto {
	text-align: center;
	margin: 0.5em;
	font-size: $motto_font-size
	color: $motto_color
}
.social {
	text-align: center;
	margin-bottom: 2em;
}
.social-icon {
	margin: 0 .5rem;
    font-size: 1.25rem;
}
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.nav {
	width: 100%;
	height: 80px;
	box-shadow: 0 3px 3px 0 #CCC;
	background: #FFF;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	overflow: hidden;
	transition: 0.3s;
}
.nav.index {
	background: var(--navbg);;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.05);
}
.nav.scroll {
	background: var(--navbg);;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05);
	transition: 0.3s
}
.nav .layui-container {
	position: relative;
	transition: all 400ms ease-out;

}
.nav .layui-container .nav-title{
	font-family: $title_font
    padding: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
	a {
		color: var(--item);
	}
}
.nav .nav-list {
	display: inline-block;
	height: 80px;
}
.nav .nav-list button {
	width: 25px;
	height: 30px;
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.nav .nav-list button span {
	display: block;
	width: 25px;
	height: 2px;
	background: var(--text);
	margin-bottom: 6px;
	transition: 0.5s;
}
.nav .nav-list button span.spa1 {
	transform: rotate(45deg);
}
.nav .nav-list button span.spa3 {
	transform: rotate(-45deg) translate(5px, -5px);
}
.nav .layui-nav {
	width: 100%;
	position: absolute;
	right: 0;
	color: #000;
	background: transparent;
}
.nav .layui-nav .layui-nav-item {
	display: inline-block;
	margin: 0;
    padding: 1em .75em;
}
.nav .layui-nav * {
	font-size: 18px;
}
.nav .layui-nav .layui-nav-item a {
	padding: 0 0;
	color: var(--item);
}
.nav .layui-nav-bar, .nav .layui-nav .layui-this:after {
	height: 2px;
	background-color: #517ACD;
}
.nav .layui-nav .layui-this a, .nav .layui-nav .layui-nav-item a:hover {
	color: #517ACD;
}

@media screen and (min-width: 900px) {
	.nav {
		max-height: 60px;
	}
	.nav.index {
		background: var(--navbg);
	}
	.nav .nav-list button {
		display: none;
	}
	.nav .layui-nav {
		width: auto;
		position: absolute;
		top: 0;
		padding: 0 5px;
		border-radius: 0;
		margin: 0;
	}
	.nav .layui-nav .layui-nav-item {
		display: inline-block;
		margin: 0 0rem;
	}
}
