#site_search {
    text-align: center;
}
#local-search-input {
    color: #999;
    border: 1px solid #D0D0D0;
    height: 33px;
    line-height: 33px;
    margin-right: 5px;
    padding: 0 10px;
    width: 268px;    
}
.search-btn {
    background: none repeat scroll 0 0 #03a9f4;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    height: 35px;
    line-height: 33px;
    padding: 0;
    vertical-align: baseline !important;
    width: 76px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    position: relative;
}
#local-search-result {
    max-width: 650px;
    margin: 3em auto;
    border-top: 1px dashed #898fa0;
    margin-top: 40px;
    padding-top: 30px;
}
.search-result-title {
  color: #000;
  font-weight: 900;
  font-size: 25px!important;
  &:hover {
    color: #517ACD;
    text-decoration: underline;
  }
}
.search-result {
  color: #413f3f;
}
#local-search-result li {
    list-style: none;
    margin-bottom: 40px;
}
#local-search-result .search-keyword {
  color: #1A98FF;
  font-weight: 1000;
}