/* mobile phone and smart portable devices */
@media screen and (max-width: 1200px) 

  .header
    padding: 50px 0;


  .moto p
    font-size: smaller;

  .logo
    font-size: smaller;

  .comments
    padding-top: 10px;

  .highlight 
    max-width: 600px;

  .hljs 
    max-width: 200px;


  .menubutton
    display: none;


  #links
    padding-left: 0em;
  



  
  
  

