/* mobile phone and smart portable devices */
@media screen and (max-width: 1200px) 

  .header
    padding: 100px 0;


  .moto p
    font-size: smaller;

  .logo
    font-size: smaller;

  .comments
    padding-top: 10px;

  .highlight 
    max-width: 600px;

  .hljs 
    max-width: 200px;


  .menubutton
    display: none;


  #links
    padding-left: 1em !important;

  .card
    float: none;
    width: calc(100% - 15px) !important;
  

  .card:nth-child(even)
    float: none !important;


  
  
  

