#post {
    font-size: 16px;
    line-height: 2;
    max-width: 700px;
    padding: 0px 20px;
    height: auto;
    margin: 0 auto;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem auto;
    display: block;
}


.post-date {
    float: left;
    color: #bbbbbb;
}

.post-title {
    padding-top: 20px;

}

.tags {
    display: inline-block;
}

.share {
    display: inline-block;
    float: right;
    margin: 0.4rem 0;
    width: fit-content;

}


.post-nav{
    display: flex;
    margin-bottom: 10px;
}
.post-nav-item {
    flex: 1;
    padding: 10px 0 0 0;
    vertical-align: top;
}

.post-nav-item a {
    position: relative;
    display: block;
    line-height: 25px;
    color: #555;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: none;
}

.post-nav-next a {
    padding-right: 15px;
    text-align: right;
}
.post-nav-prev a {
    padding-left: 15px;
}

.post-nav-prev .fa {
    position: absolute;
    left: 0;
    top: 30%;
    font-size: 12px;
    line-height: 100%;
}
.post-nav-next .fa{
    position: absolute;
    right: 0;
    top: 30%;
    font-size: 12px;
    line-height: 100%;
}

.post-copyright  {
    background-color: #f8f8f8;
    border-left: 3px;
    border-left-style: solid;
    border-left-color: #91b3f6;
}

.copyright-item
    padding: 5px;

.back {
    float: right;
}

.tags-back {
    padding: 15px;
    font-weight: bold;
}
