#recent-posts
    max-width: 650px;
    padding: 0px 5px;
    height: auto;
    margin: 0 auto;
    line-height: 2;
.post-title
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
    color: var(--text);
.readmore
    text-align: center;
    margin-top: 1.618em;
    margin-bottom: 5em;
    color: var(--text);
.post-meta 
    font-size: 80%;
    text-align: center;
    margin: 1rem 0;
.post-meta-item
    margin: 0.25em;
    display: inline-block;
    color: var(--meta);
    a 
      color: var(--meta);

    
