  
<%
page.title = __('error_title')
%>
<div class="post-wrap">
<div class="container">
    <h2><%= theme.page_404.subtitle %></h2>
    <h1>404</h1>
  </div>

<style>
.container{
  width: 100%;
  max-width: 700px;
  margin: 100px auto 0;
  transform: translateY(-50%);
  text-align: center;
  color: #343434
}
.container h1{
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
}
</style>
</div>