
<a id="gotop" href="javascript:" title="返回顶部"><i class="fa fa-arrow-up"></i></a>
<script>
    window.onscroll = function() {scrollFunction()};
     
    function scrollFunction() {console.log(121);
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("gotop").style.display = "block";
        } else {
            document.getElementById("gotop").style.display = "none";
        }
    }
     
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
    





