


<header class="header">
    <div class="title animated fadeInDown">
    <div class="title">
        <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
    </div>
    </div> 
    <div class="navbar animated fadeInDown">
        <div class="motto">
            <h2><%= theme.motto %></h2>
        </div>

</header>


