<button onclick="topFunction()" id="myBtn" title="返回顶部"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<script>
window.onscroll = function() {scrollFunction()};
 
function scrollFunction() {console.log(121);
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
 
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<% if (theme.todark.enable){ %>
    <div id="dark" onclick="switchDarkMode()"></div> 
    <script>
      if(localStorage.getItem('dark') === '1') {
          document.body.classList.add('dark');
      }
      document.getElementById('dark').innerHTML = document.querySelector("body").classList.contains("dark")?"🌙":"🌞";
    </script>
<% } %>


