
$bodyfont = hexo-config('googlefonts.font-family') ? unquote(hexo-config('googlefonts.font-family')) : $dafault-font-family
$dafault-font-family = "Amstelvar","glyph-correction",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Lato,Roboto,"PingFang SC","Microsoft JhengHei","Microsoft YaHei",sans-serif;
@import "partial/fonts";
body{
	position: relative;
    min-height: 100%;
    background: #fff;
    color: #4c4948;
    font-size: 16px;
	font-family: $bodyfont;
    line-height: 2;
    -webkit-tap-highlight-color: transparent;
}

code {
	font-family: $bodyfont;
	word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}
#post code {
	background: rgba(27,31,35,.05);
    font-family: Consolas,"Panic Sans","DejaVu Sans Mono","Bitstream Vera Sans Mono",Menlo,"Microsoft Yahei"!important;
}
.gutter {
	padding-right: 0.5em;
	font-family: Consolas,"Panic Sans","DejaVu Sans Mono","Bitstream Vera Sans Mono",Menlo,"Microsoft Yahei"!important;
}
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    vertical-align: top;
    padding-right: 5px;
}

.hljs-ln-code {
    padding-left: 10px;
}
.hljs-ln-numbers {
	padding-right: 0.5em !important;
}


.content :before {
    font-family: "Font Awesome 5 Free";
}

.content h1:before {
	content: "\f292";
	font-size: 1em;
    margin-right: 0.15em;
	color: #2196f3;
}
.content h1 {
    font-size: 1.5em;
}
.content h1:hover {
	padding-left: 0.5rem;
}
.content h1:hover:before {
	content: "\f1dc""1 ";
}
.content h2:before {
	content: "\f292";
	font-size: 0.9em;
    margin-right: 0.15em;
	color:#03a9f4;
}
.content h2 {
    font-size: 1.25em;
}
.content h2:hover {
	padding-left: 0.5rem;
}
.content h2:hover:before {
	content: "\f1dc""2 ";
}
.content h3:before {
	content: "\f292";
	font-size: 0.75em;
    margin-right: 0.15em;
	color: #03a9f49e;
}
.content h3 {
	font-size: 1em;
}
.content h3:hover {
	padding-left: 0.5rem;
}
.content h3:hover:before {
	content: "\f1dc""3 ";
}

::selection {
    background: #C0D4FC;
    color: #333;
}
::-webkit-scrollbar {
	width: 0.4rem;
    height: 0.4rem;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:hover{
	background-color: #AED6F1;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	opacity: 1;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-ms-transition: all .15s linear;
	transition: all .15s linear;
	color: #424242;
}
a:hover, a:active {
	color: #517ACD;
}
li{
	list-style-type: none;
}
.pagetitle {
	text-align: center;
}

.post-wrap {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  font-size: 16px;
}
.archive-item {
    margin-top: 1em;
    padding-bottom: 0.5em;
	list-style-type:none;
	display: flex;
	align-items: baseline;
}
.container .post-title {
	font-size: 12px;
    line-height: 30px;
    display: inline-block;
	margin: 5px 3px;
    padding: 0 12px;
	border-radius: 15px;
    background: #f6f6f6;
}
.archive-item-link {
    font-size: 1.2em;
    line-height: 1.5;
	flex: 1;
}
.archive-item-link:hover {
  color: #2a6ef4;
  background-color: transparent;
}
.archive-item-date {
  float: right;
  color: #a9a9b3;
  line-height: 1.5;
}
.arc_pag {
    margin: 2em;
    font-size: 1.25em;
}
.category-list {
	list-style-type: none;
	.category-list-item {
	padding: 5px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
	}
}

.category-list-count {
	color: #858585;
	padding: 10px;
}
.category-list .category-list-count:before {
    content: '(';
}
.category-list .category-list-count:after {
    content: ')';
}
.content {
	max-width 650px;
	padding: 0px 10px;
	word-wrap: break-word;
    overflow-wrap: break-word;
}
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}

#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;

}
#bottom-inner .fa-heart {
   color: rgb(255, 113, 168);
}

.paginator {
	width: 80%;
	max-width: 650px;
    padding: 0px 20px;
    margin: 0 auto;
}
.paginator .prev{
	float:left;
}
.paginator .next{
	float: right;
}
#bottom-outer {
	font-size: 90%;
	color: #999a9b;
    text-align: center;
	padding-top: 100px;
}
#bottom-outer a{
	color: #999a9b;
}

.tags-cloud {
	text-align: center;
	padding-bottom: 100px;
}

.content .tags-cloud a {
	padding-right: 20px;
	text-decoration: none;
}

.category {
	padding-bottom: 100px;
}

#gotop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
}
.comments{
	margin: 0 auto;
	margin-top: 2em;
	max-width: 650px;

}

#post .content a {
	color: #4a81a5;
	word-break: break-word;
}
#post .content a:hover {
    text-decoration: underline;
}
.content .copyright-item a {
	color: #99a9bf;
	text-decoration: underline;
    word-break: break-word;
}

.icp-icon {
	padding: 0 4px;
    vertical-align: text-bottom;
}

#links {
    padding-left: 3.5em;
}
.container .main-inner {
	width: 1100px;
}
.links-content{
	margin-top:1rem;
}
.link-navigation::after {
	content: " ";
	display: block;
	clear: both;
}
.card {
	width: 45%;
	font-size: 1.5rem;
	padding: 20px 10px;
	border-radius: 4px;
	transition-duration: 0.15s;
	margin-bottom: 1rem;
	display:flex;
}
.card:nth-child(odd) {
	float: left;
}
.card:nth-child(even) {
	float: right;
}
.card:hover {
	transform: scale(1.1);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}
.card a {
	border:none; 
}
.card .ava {
	width: 4rem!important;
	height: 4rem!important;
	margin:0!important;
	margin-right: 1em!important;
	border-radius:50%;
	display: block;
	transition: all 0.75s;             
}
.card .ava:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.card .card-header {
	font-style: italic;
	overflow: hidden;
	width: 100%;
}
.card .card-header a {
	font-style: normal;
	color: #2bbc8a;
	font-weight: bold;
	text-decoration: none;
}
.card .card-header a:hover {
	color: #d480aa;
	text-decoration: none;
}
.card .card-header .info {
	font-style:normal;
	color:#a3a3a3;
	font-size:14px;
	min-width: 0;
	word-break: break-word;
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

@import "partial/dark";
@import "partial/header";
@import "partial/recent-posts";
@import "partial/post";
@import "partial/media";
@import "partial/tag_plugin/tags";
@import "partial/tag_plugin/note";
@import "partial/reward";








