<% if(theme.sharejs && theme.sharejs.enable){ %>
<div class="social-share" data-sites="<%= theme.sharejs.sites %>"></div>
<link rel="stylesheet" href="<%= theme.sharejs.style %>">
<script src="<%= theme.sharejs.scripts %>"></script>
<% } %>
