// note
.note
  position: relative;
  padding 0.75rem
  border-left 0.35rem solid
  border-radius 0.25rem
  margin 1.5rem 0
  padding-left: 45px

p.note
  position: relative;
  padding 0.75rem
  border-radius 0.25rem
  margin 1.5rem 0

p.note::before
  display: none;

.post-wrap.page .note::before
  top:34px !important;

.note::before {
    position: absolute;
    top: 25px;
    left: 15px;
    font-size: larger;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
}

.note-primary
  background-color #f5f0fa
  border-color #6f42c1

.note.note-primary::before
  content: "\f055";
  color: #6f42c1;

.note-default
  background-color #e2e3e5
  border-color #58595a

.note.note-default::before
  content: "\f0a9";
  color: #777777;

.note-success
  background-color #e2f0e5
  border-color #49a75f

.note.note-success::before 
  content: "\f058";
  color: #5cb85c;

.note-danger
  background-color #fae7e8
  border-color #e45460

.note.note-danger::before
  content: "\f056";
  color: #d9534f;

.note-warning
  background-color #faf4e0
  border-color #f0ad4e

.note.note-warning::before
  content: '\f071';
  color: #f0ad4e;

.note-info
  background-color #e4f2f5
  border-color #428bca

.note.note-info::before
  content: "\f05a";
  color: #428bca;

.note-light
  background-color #fefefe
  border-color #0f0f0f
  box-shadow: 1px 1px 2px #888888

.note.note-light::before
  content: "\f0eb";
  color: #0f0f0f;

